<style>
.btn-block {
    border-color: white;
}

.dropdown-menu {
    min-width: 0em;
    padding: 0px;
}
</style>

{% block content %}
<!-- Collapse button -->
<button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button  class="bs-modal btn btn-block btn-outline-secondary btn-sm pr-4 pl-4" type="button" name="button"
            data-form-url="{% url 'ass-management:view-settings' record.id %}">
        View Settings
    </button>
    <button  class="bs-modal btn btn-block btn-outline-secondary btn-sm pr-4 pl-4" type="button" name="button"
            data-form-url="{% url 'ass-management:view-templates' record.id %}">View Templates</button>
    <button  class="bs-modal btn btn-block btn-outline-secondary btn-sm pr-4 pl-4" type="button" name="button"
            data-form-url="{% url 'ass-management:view-students' record.id %}">
        View Students
    </button>
    <button  class="bs-modal btn btn-block btn-outline-secondary btn-sm pr-4 pl-4" type="button" name="button"
            data-form-url="{% url 'ass-management:delete-assignment' record.id %}">Delete</button>
</div>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
function select_click(btn)
{
  (window).open($(btn).data('form-url'), "_self");
}
</script>
  <!-- Collapsible content -->
{% endblock %}

