{% extends "student_base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>
            {% block title %} SimCon | Feedback {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">

    </head>
    <body>
    <div class="container-fluid mt-4">
        <div class="col">

            <!-- Template Information -->
            <div class="row justify-content-center">
                <div class="card w-50">
                    <h4 class="card-header" style="text-align: center">Your Submission</h4>
                    <div class="card-body">
                        <div class="container" style="padding: 0 !important;">
                            <div class="col">
                                <div class="row">
                                    <div class="col-10">
                                        <h5><strong>Template Name: </strong> {{ response.template.name }} </h5>
                                        <h5><strong>Submission Date: </strong> {{ response.completion_date }} </h5>
                                        <h5><strong>Your Self Rating: </strong> {{ self_rating }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h5><strong>Feedback:</strong> {{ response.feedback }} </h5>
                                        </div>
                                    </div>
                                </div>
                                {% if response.transcription_student_editable == True %}
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-secondary" id="update-transcriptions" type="button">Update Transcriptions</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Response nodes -->
            {% for response_node in response_nodes %}
                <div class="row justify-content-center mt-4">
                    <div class="card w-50">
                        <div class="container" style="padding: 0 !important;">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p><strong>Step description: </strong> {{ response_node.template_node.description }} </p>
                                            {% if response_node.custom_response != Null %}
                                                <p class="mb-3"><strong>Custom Response: </strong> {{ response_node.custom_response }}</p>
                                            {% else %}
                                                <p class="mb-3"><strong>Selected choice: </strong> {{ response_node.selected_choice.choice_text }}</p>
                                            {% endif %}
                                            <audio src="{% get_media_prefix %}{{ response_node.audio_response }}" controls></audio>
                                        </div>
                                        <div class="col">
                                            {% if response.transcription_student_editable %}
                                                <p><strong>Transcription: </strong> </p>
                                                <div class="form-group">
                                                    <textarea class="form-control" name="node-transcription-input" id="{{ response_node.id }}">{{ response_node.transcription }}</textarea>
                                                </div>
                                            {% else %}
                                                <p><strong>Transcription: </strong> </p>
                                                <p>{{ node.transcription }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if response.transcription_student_editable == True %}
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary" id="update-transcriptions" type="button">Update Transcriptions</button>
                    </div>
                </div>
            {% endif %}
        </div>


        {% if response.transcription_student_editable == True %}
            <script type="text/javascript">
                $(document).ready(function() {
                    $(document).on("click", "#update-transcriptions", function () {
                        let csrftoken = null
                        const cookieName = "csrftoken"
                        if (document.cookie && document.cookie !== "") {
                            const cookies = document.cookie.split(";")
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim()
                                if (cookie.substring(0, cookieName.length + 1) === (cookieName + "=")) {
                                    csrftoken = decodeURIComponent(cookie.substring(cookieName.length + 1))
                                    break
                                }
                            }
                        }

                        let transcriptions = Object.create(null)
                        for (const transcription of document.getElementsByName('node-transcription-input')) {
                            transcriptions[transcription.id] = transcription.value
                        }

                        const postBody = JSON.stringify({
                            transcriptions: transcriptions
                        })

                        fetch(window.location.href, {
                            method: "POST",
                            credentials: "include",
                            mode: "same-origin",
                            body: postBody,
                            headers: new Headers({
                                "X-CSRFToken": csrftoken,
                                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
                                "X-Requested-With": "XMLHttpRequest",
                            })
                        }).then(function(response) {
                            if(response.ok) {
                                alert("Transcriptions Updated")
                            } else throw new Error(response.status)
                        }).catch(function (error) {
                            alert("Something went wrong while submitting the form\n" + error)
                        })
                    })
                });
            </script>
        {% endif %}
    </div>
    </body>
    </html>
{% endblock %}
