{% load render_table from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="simcon.css">

    <title>
    SimCon | Researcher View
    </title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Simulated Conversations</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Create Template</a></li>
          <li><a href="#">Add Student</a></li>
          <li><a href="#">Create Assignment</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> User</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1> To do </h1>
      <h2> ~ Add Table for response (query responses)</h2>
      <h2> ~ Add Search bars for template/label/student_name</h2>
    </div> 
<div> 
  {% render_table responseTable %}
</div>
  </body>
</html>