<!DOCTYPE html>
{% extends "student_base.html" %}
{% load static %}
{% block nav-studentView %}<strong class="nav_bar_selected"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 2 16 16">
    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
  </svg> Home </strong>{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <title>
            SimCon | Home
        </title>

    </head>
    <body>
    <div class="container-fluid mt-3" style="width: 95%">
        <div class="row">
            <div class="col" style="text-align: center;">
                {% if incomplete_table %}
                    <h2>Current Assignments</h2>
                    {% render_table incomplete_table %}
                {% else %}
                    <span> No Templates to Complete </span>
                {% endif  %}
            </div>
            <div class="col"  style="text-align: center;">
                {% if completed_table %}
                    <h2>Completed Conversations</h2>
                    {% render_table completed_table %}
                {% else %}
                    <span> No Completed Templates </span>
                {% endif  %}
            </div>

        </div>
    </div><!-- /container -->

    <div class="modal fade" tabindex="-1" role="dialog" id="create_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });
        });
    </script>
    </body>
    </html>
{% endblock %}
