{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Created for Simulated Conversations Senior Capstone Project">

    <!-- prevent line breaks when using form fields -->
    <style type="text/css">
        form {display:inline; margin:0px; padding:0px;}
    </style>
    <title>
        SimCon | Registration
    </title>
    <link rel="stylesheet" href="{% static './users/base.css' %}">
    <link rel="shortcut icon" href="{% static './title_image/favicon.ico' %}" type="image/x-icon">
</head>
<body>

<div class="container-fluid mt-5" style="width: 30%">

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="card">
        <div class="card-body">
            <div class="col-md-6 mt-3">
                <form method="post">
                    {%csrf_token%}
                    <div class="col">
                        <div class="row mb-3">
                            <label for="{{ form.email.id_for_label }}">Confirm Email:</label>
                            {{form.email}}
                        </div>

                        <div class="row mb-3">
                            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                            {{form.first_name}}
                        </div>

                        <div class="row mb-3">
                            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                            {{ form.last_name }}
                        </div>

                        <div class="row mb-3">
                            <label for="{{ form.password1.id_for_label }}">Set Password:</label>
                            {{form.password1}}
                        </div>

                        <div class="row mb-3">
                            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                            {{form.password2}}
                        </div>

                        <div class="row mb-3">
                            <button type="submit" class="btn btn-secondary">Submit</button><br/><br/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% for message in messages %}

    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>
{% endfor %}
</body>
</html>
